# Node.js dependencies
node_modules/
npm-debug.log*
yarn-error.log

# Logs
logs
*.log
logs/
*.log.*
npm-debug.log
yarn-debug.log
yarn-error.log
pnpm-debug.log
lerna-debug.log

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Database files
*.sqlite
*.sqlite3
*.db
*.pdb
*.db-wal
*.db-shm

# Debugging files
.vscode/
*.swp
*.swo
*.swn
.idea/

# Build files
dist/
out/
build/
coverage/
.cache/

# Temporary files
tmp/
temp/
.DS_Store
Thumbs.db

# Deployment files
pm2.log
pm2.pid
.DS_Store

# Ignore specific backend frameworks
# Prisma ORM
prisma/migrations/
prisma/dev.db
prisma/dev.db-journal

# Firebase
firebase-debug.log
.firebaserc

# Docker
docker-compose.override.yml
docker-compose.override.local.yml

# Swagger
swagger.json
swagger.yaml
